!.vscode/
.DS_Store
.idea/
.dotnet-home/
[Ll]ibrary/
[Bb]in/
[Oo]bj/
logs/
*.user
settings.json
.env
__pycache__/
*.py[cod]

# Large documentation / PDF sources
*C2.TAP III.Q2.1.3 NTĐV CCTV,VDS,VMS,DTS,WOS,TMS,PBX*
*C2.TAP III.Q2.2.3 NTĐV CCTV,VDS,VMS,DTS,WOS,TMS,PBX*